PROGRAM OBJECTIVE:

Prove that for semigroups of order 4, three carefully chosen cells
in the Cayley table can uniquely determine the entire semigroup structure,
while two cells are insufficient for unique determination.

MATHEMATICAL CONTEXT:

Given a semigroup S of order n, its Cayley table T is an n×n grid where
T[i][j] = k represents the product s_i·s_j = s_k.

This program:

1) Import all 126 semigroups of order 4 (up to isomorphism and anit-isomorphism)

2) Generate all associative Cayley tables (by transpose and permutations)

3) Demonstrates that no two-cell pattern has unique solutions

@authors:
Andrey Chernev (ChernevAM@mpei.ru),
Nickolay Chernev (nachernev@gmail.com)

In [1]:
from itertools import permutations
n=4
data=list(range(n))
Sn=list(permutations(data))
TableSet=set()

In [2]:
# Checking if Sn is symmetric group order n
print(Sn)

[(0, 1, 2, 3), (0, 1, 3, 2), (0, 2, 1, 3), (0, 2, 3, 1), (0, 3, 1, 2), (0, 3, 2, 1), (1, 0, 2, 3), (1, 0, 3, 2), (1, 2, 0, 3), (1, 2, 3, 0), (1, 3, 0, 2), (1, 3, 2, 0), (2, 0, 1, 3), (2, 0, 3, 1), (2, 1, 0, 3), (2, 1, 3, 0), (2, 3, 0, 1), (2, 3, 1, 0), (3, 0, 1, 2), (3, 0, 2, 1), (3, 1, 0, 2), (3, 1, 2, 0), (3, 2, 0, 1), (3, 2, 1, 0)]

In [3]:
file_semigroups = '/content/drive/MyDrive/Colab Notebooks/Cayley_tables_unique_id/Semigroup_section/semigroup_'+ str(n)+'_out.txt'

In [4]:
print(file_semigroups)

/content/drive/MyDrive/Colab Notebooks/Cayley_tables_unique_id/Semigroup_section/semigroup_4_out.txt

PHASE 1:

Generate complete Cayley table dataset
Import all 126 order-4 semigroups

 and construct their isomorphic variants
by transpose ans permuting elements,

 storing distinct multiplication tables

In [5]:
with open(file_semigroups, 'r', encoding='utf-8') as file:
    for line in file:
        #
        # BE CAREFUL! Check content of file_semigroups
        #
        array = eval(line) # Reading the original multiplication table
        transposed_array=[]
        for i in range(n):
            transposed_array.append([0]*n)
        for i in range(n):
            for j in range(n):
                array[i][j] -=1  # GAP starts with 1 but Python starts witn 0
                transposed_array[j][i]=array[i][j] # Making the multiplication table for anti-isomorfic semigroup

        # Python can not use the mutable arrays in set
        # so we must to converts array to unmutable tuple
        ta=(*map(tuple, array),)
        tta=(*map(tuple, transposed_array),)
        TableSet.add(ta)
        TableSet.add(tta)

        # Making permutation of the original ang transposed tables
        for s in Sn:
            permutted_table =[]
            permutted_transposed_table=[]
            for i in range(n):
                permutted_table.append([0]*n)
                permutted_transposed_table.append([0]*n)
            for i in range(n):
                for j in range(n):
                    permutted_table[s[i]][s[j]]=s[array[i][j]]
                    permutted_transposed_table[s[i]][s[j]]=s[transposed_array[i][j]]
            tpt=(*map(tuple, permutted_table),)
            tptt=(*map(tuple, permutted_transposed_table),)
            TableSet.add(tpt)
            TableSet.add(tptt)

print('The number of associative tables order ', n)
print('is ', len(TableSet))

The number of associative tables order  4
is  3492

PHASE 2:
Two-cell pattern insufficiency proof.

Exhaustively checks all possible two-cell constraints to show that none
yield a unique Cayley table solution (minimum matches > 1)

In [6]:
# The constraint is T[r1][c1]=v1, T[r2][c2]=v2
# Symmetry reduction: r1=0, c1=0 or 1, v1=0 or 1 or 2
#
min_nonzero_matches=1_000_000
r1=0
for c1 in range(2):
    for v1 in range(3):
        for r2 in range(n):
            for c2 in range(n):
                for v2 in range(n):
                    constraint = [ [r1, c1, v1], [r2, c2, v2] ]
                    # Count tables satisfying both constraints
                    matching_tables=0
                    matching_tables_list=[]
                    for table in TableSet:
                        satisfies_constraints=True
                        for cell in constraint:
                            if table[cell[0]][cell[1]] != cell[2]:
                                satisfies_constraints=False
                                break
                        if satisfies_constraints:
                            matching_tables+=1
                            matching_tables_list.append(table)
                    # Update minimal solution count
                    if matching_tables > 0 and matching_tables < min_nonzero_matches:
                        min_nonzero_matches = matching_tables
                        min_constraint = constraint.copy()
                        min_matching_tables_list = matching_tables_list.copy()

In [7]:
print("===== KEY RESULT =====\n")
print("For all two-cell patterns, minimal matching tables: ", min_nonzero_matches, "\n")
print("The minimal two-cell constrain is", *min_constraint, "\n")
print("The minimal matching tables are :")
for mt in min_matching_tables_list:
    print()
    for m in mt:
        print(*m)

===== KEY RESULT =====

For all two-cell patterns, minimal matching tables:  4

The minimal two-cell constrain is [0, 1, 2] [2, 3, 1]

The minimal matching tables are :

2 2 1 2
2 2 1 2
1 1 2 1
2 2 1 2

3 2 3 1
2 1 2 3
3 2 3 1
1 3 1 2

1 2 1 1
2 1 2 2
1 2 1 1
1 2 1 1

1 2 0 2
2 0 1 0
0 1 2 1
2 0 1 0