PROGRAM OBJECTIVE:

Prove that for semigroups of order 5, three carefully chosen cells
in the Cayley table can uniquely determine the entire semigroup structure,
while two cells are insufficient for unique determination.

MATHEMATICAL CONTEXT:

Given a semigroup S of order n, its Cayley table T is an n×n grid where
T[i][j] = k represents the product s_i·s_j = s_k.

This program:

1) Import all 1160 semigroups of order 5 (up to isomorphism and anit-isomorphism)

2) Generate all associative Cayley tables (by transpose and permutations)

3) Exhibits a specific three-cell pattern that determines a unique table

@authors:
Andrey Chernev (ChernevAM@mpei.ru),
Nickolay Chernev (nachernev@gmail.com)

In [1]:
from itertools import permutations
n=5
data=list(range(n))
Sn=list(permutations(data))
TableSet=set()

In [2]:
# Checking if Sn is symmetric group order n
print(Sn)

[(0, 1, 2, 3, 4), (0, 1, 2, 4, 3), (0, 1, 3, 2, 4), (0, 1, 3, 4, 2), (0, 1, 4, 2, 3), (0, 1, 4, 3, 2), (0, 2, 1, 3, 4), (0, 2, 1, 4, 3), (0, 2, 3, 1, 4), (0, 2, 3, 4, 1), (0, 2, 4, 1, 3), (0, 2, 4, 3, 1), (0, 3, 1, 2, 4), (0, 3, 1, 4, 2), (0, 3, 2, 1, 4), (0, 3, 2, 4, 1), (0, 3, 4, 1, 2), (0, 3, 4, 2, 1), (0, 4, 1, 2, 3), (0, 4, 1, 3, 2), (0, 4, 2, 1, 3), (0, 4, 2, 3, 1), (0, 4, 3, 1, 2), (0, 4, 3, 2, 1), (1, 0, 2, 3, 4), (1, 0, 2, 4, 3), (1, 0, 3, 2, 4), (1, 0, 3, 4, 2), (1, 0, 4, 2, 3), (1, 0, 4, 3, 2), (1, 2, 0, 3, 4), (1, 2, 0, 4, 3), (1, 2, 3, 0, 4), (1, 2, 3, 4, 0), (1, 2, 4, 0, 3), (1, 2, 4, 3, 0), (1, 3, 0, 2, 4), (1, 3, 0, 4, 2), (1, 3, 2, 0, 4), (1, 3, 2, 4, 0), (1, 3, 4, 0, 2), (1, 3, 4, 2, 0), (1, 4, 0, 2, 3), (1, 4, 0, 3, 2), (1, 4, 2, 0, 3), (1, 4, 2, 3, 0), (1, 4, 3, 0, 2), (1, 4, 3, 2, 0), (2, 0, 1, 3, 4), (2, 0, 1, 4, 3), (2, 0, 3, 1, 4), (2, 0, 3, 4, 1), (2, 0, 4, 1, 3), (2, 0, 4, 3, 1), (2, 1, 0, 3, 4), (2, 1, 0, 4, 3), (2, 1, 3, 0, 4), (2, 1, 3, 4, 0), (2, 1, 4, 0, 3), (2, 1, 4, 3, 0), (2, 3, 0, 1, 4), (2, 3, 0, 4, 1), (2, 3, 1, 0, 4), (2, 3, 1, 4, 0), (2, 3, 4, 0, 1), (2, 3, 4, 1, 0), (2, 4, 0, 1, 3), (2, 4, 0, 3, 1), (2, 4, 1, 0, 3), (2, 4, 1, 3, 0), (2, 4, 3, 0, 1), (2, 4, 3, 1, 0), (3, 0, 1, 2, 4), (3, 0, 1, 4, 2), (3, 0, 2, 1, 4), (3, 0, 2, 4, 1), (3, 0, 4, 1, 2), (3, 0, 4, 2, 1), (3, 1, 0, 2, 4), (3, 1, 0, 4, 2), (3, 1, 2, 0, 4), (3, 1, 2, 4, 0), (3, 1, 4, 0, 2), (3, 1, 4, 2, 0), (3, 2, 0, 1, 4), (3, 2, 0, 4, 1), (3, 2, 1, 0, 4), (3, 2, 1, 4, 0), (3, 2, 4, 0, 1), (3, 2, 4, 1, 0), (3, 4, 0, 1, 2), (3, 4, 0, 2, 1), (3, 4, 1, 0, 2), (3, 4, 1, 2, 0), (3, 4, 2, 0, 1), (3, 4, 2, 1, 0), (4, 0, 1, 2, 3), (4, 0, 1, 3, 2), (4, 0, 2, 1, 3), (4, 0, 2, 3, 1), (4, 0, 3, 1, 2), (4, 0, 3, 2, 1), (4, 1, 0, 2, 3), (4, 1, 0, 3, 2), (4, 1, 2, 0, 3), (4, 1, 2, 3, 0), (4, 1, 3, 0, 2), (4, 1, 3, 2, 0), (4, 2, 0, 1, 3), (4, 2, 0, 3, 1), (4, 2, 1, 0, 3), (4, 2, 1, 3, 0), (4, 2, 3, 0, 1), (4, 2, 3, 1, 0), (4, 3, 0, 1, 2), (4, 3, 0, 2, 1), (4, 3, 1, 0, 2), (4, 3, 1, 2, 0), (4, 3, 2, 0, 1), (4, 3, 2, 1, 0)]

In [4]:
file_semigroups = '/content/drive/MyDrive/Colab Notebooks/Cayley_tables_unique_id/Semigroup_section/semigroup_'+ str(n)+'_out.txt'

In [5]:
print(file_semigroups)

/content/drive/MyDrive/Colab Notebooks/Cayley_tables_unique_id/Semigroup_section/semigroup_5_out.txt

PHASE 1:

Generate complete Cayley table dataset
Import all 1160 order-5 semigroups

 and construct their isomorphic variants
by transpose ans permuting elements,

 storing distinct multiplication tables.

 Note that we will only generate tables that meet the conditions

 T[0][0]=1 or 2 OR  T[0][1]=1 or 2

In [6]:
with open(file_semigroups, 'r', encoding='utf-8') as file:
    for line in file:
        #
        # BE CAREFUL! Check content of file_semigroups
        #
        array = eval(line) # Reading the original multiplication table
        transposed_array=[]
        for i in range(n):
            transposed_array.append([0]*n)
        for i in range(n):
            for j in range(n):
                array[i][j] -=1  # GAP starts with 1 but Python starts witn 0
                transposed_array[j][i]=array[i][j] # Making the multiplication table for anti-isomorfic semigroup

        # Python can not use the mutable arrays in set
        # so we must to converts array to unmutable tuple
        ta=(*map(tuple, array),)
        tta=(*map(tuple, transposed_array),)
        TableSet.add(ta)
        TableSet.add(tta)

        # Making permutation of the original ang transposed tables
        for s in Sn:
            permutted_table =[]
            permutted_transposed_table=[]
            for i in range(n):
                permutted_table.append([0]*n)
                permutted_transposed_table.append([0]*n)
            for i in range(n):
                for j in range(n):
                    permutted_table[s[i]][s[j]]=s[array[i][j]]
                    permutted_transposed_table[s[i]][s[j]]=s[transposed_array[i][j]]
            tpt=(*map(tuple, permutted_table),)
            tptt=(*map(tuple, permutted_transposed_table),)
            if permutted_table[0][0]<3 or permutted_table[0][1]<3:
              TableSet.add(tpt)
            if permutted_transposed_table[0][0]<3 or permutted_transposed_table[0][1]<3:
              TableSet.add(tptt)

print('The number of associative tables order ', n)
print('satisfies constraints is ', len(TableSet))

The number of associative tables order  5
satisfies constraints is  165924

PHASE 2:
Three-cell pattern sufficiency proof.

The constraint is T[0][0]=1, T[1][1]=2, T[2][3]=0

In [7]:
# The constraint is T[r1][c1]=v1, T[r2][c2]=v2
# Symmetry reduction: r1=0, c1=0 or 1, v1=0 or 1 or 2
#
constraint = [ [0, 0, 1], [1, 1, 2], [2, 3, 0] ]
matching_tables=0
matching_tables_list=[]
for table in TableSet:
    # Count tables satisfying both constraints
    satisfies_constraints=True
    for cell in constraint:
        if table[cell[0]][cell[1]] != cell[2]:
            satisfies_constraints=False
            break
    if satisfies_constraints:
        matching_tables+=1
        matching_tables_list.append(table)


print("===== KEY RESULT =====\n")
print("The three-cell constrain is", constraint, "\n")
print("The unique matching table is :")
for mt in matching_tables_list:
    print()
    for m in mt:
        print(*m)

===== KEY RESULT =====

The three-cell constrain is [[0, 0, 1], [1, 1, 2], [2, 3, 0]]

The unique matching table is :

1 4 0 1 2
4 2 1 4 0
0 1 2 0 4
1 4 0 1 2
2 0 4 2 1